.container {
  border: 1px red dashed;
}

.card {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topNav {
  display: block;
  width: 100%;
  border-bottom: 2px solid lightblue;
}
